/* google font import link  */
@import url('https://fonts.googleapis.com/css2?family=Odibee+Sans&family=Open+Sans:wght@400;500&family=Oswald:wght@200;400;500&family=Poppins:ital,wght@0,300;0,400;1,500&family=Roboto:ital,wght@0,300;0,400;1,500&family=Ubuntu:ital,wght@0,300;0,400;0,500;1,700&family=Work+Sans:wght@500;600&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Work Sans', sans-serif;
}
.container{
    width: 1072px;
    margin: 0 auto;
}
/* header banner section style start */
.banner{
    height: 800px;
    background-image: url("../images/banner/banner2.png");
    position: relative;
    background-repeat: no-repeat;
}
.banner-text{
    position: absolute;
    right: 0;
    width: 500px;
    margin-right: 200px;
    top: 216px;
}
.banner-title{
    color: #151414;;
    font-style: normal;
    font-weight: 700;
    font-size: 65px;
    line-height: 76px;
    text-align: right;
    margin-bottom: 24px;
}
.banner-description{
    color: #444343;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: right;
    font-style: normal;
    margin-bottom: 32px;
}
.banner-btn{
    width: 160px;
    height: 64px;
    border: 0;
    border-radius: 3px;
    cursor: pointer;
    background-color:#FD6E0A;
    font-size: 20px;
    font-weight: 600;
    color:#FFF8F3;
    margin-left: 341px;
}
/* header banner section style end */
/* my failures section style start */
.my-failures-section{
    margin-top: 130px;
}
.failures-wrapper{
    display: flex;
    gap: 100px;
}
.failures-sct-img{
    width: 500px;
}
.failures-sct-text{
    width: 500px;
    margin-top: 260px;
}
.failure-title{
    color: #151414;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    margin-bottom: 24px;
}
.failures-description{
    margin-bottom: 16px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #444343;
}
.fa-check{
    color: rgb(8, 217, 8);
    margin: 8px;
}
.failures-sct-text ul li{
    list-style: none;
    color: #444343;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
}
/* my failures section style end */
/* my plane section style start */
.my-plane{
    margin-top: 130px;
}
.my-plane-title{
    text-align: center;
    color: #151414;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    margin-bottom: 49px;
}
.wrapper{
    display: flex;
    gap:100px;
}
.my-plane-inner{
    padding: 20px 20px;    
}
.my-plane-img-box-1{
    width: 54%;
    margin: 0 auto;
}
.my-plane-img-box{
    width: 75%;
    margin: 0 auto;
}
.my-plane-text-box h3{
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 35px;
    text-align: center;
    color: #151414;
}
.my-plane-text-box p{
    color: #737272;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 29px;
    text-align: center;
}
/* my plane section style end */
/* positive mindset section style start */
.positive-mindset-section{
    margin-top: 130px;
}
.mindset-wrapper{
    background-image: linear-gradient(to right,#fd6e0ae6,#ffff003b),url(../images/watch.png);
    background-repeat: no-repeat;
    border-radius: 6px;
    padding: 59px 64px;
}
.mindset-wrapper h1{
    color: #FFFFFF;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    margin-bottom: 24px;
}
.call-now-btn{
    width: 160px;
    height: 64px;
    border-radius: 3px;
    border: 0;
    color: #F15B22;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    cursor: pointer;
}
/* positive mindset section style end */
/* contact us section style start */
.contact-us{
    margin-top: 130px;
}
.input-inner{
    width: 70%;
}
.contact-us-title{
    text-align: center;
    color: #151414;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    margin-bottom: 49px;
}
.contact-wrapper{
    display: flex;
    gap: 100px;
}
.input-inner input[type="text"],input[type="email"],textarea{
    width: 100%;
    padding: 18px 30px;
    margin-bottom: 24px;
    border: 1px solid #F15B22;
    border-radius: 6px;
    outline: 0;
}
.contact-btn{
    width: 160px;
    height: 64px;
    border: 0;
    border-radius: 3px;
    cursor: pointer;
    background-color:#FD6E0A;
    font-size: 20px;
    font-weight: 600;
    color:#FFF8F3;
}
.info-inner{
    width: 30%;
}
.info-box{
    width: 100%;
    display: flex;
    border: 1px solid #FD6E0A;
    padding: 36px 30px;
    margin-bottom: 24px;
    border-radius: 6px;
    gap: 20px;
}
.icon i{
    color: #FD6E0A;
    font-size: 22px;
}
.text p{
    color: #444343;
    font-size: 15px;
    font-weight: 700;
    font-style: normal;
}
/* contact us section style end */